body{
    font-family: 'Source Sans Pro', sans-serif;
    transition: background-color 0.5s ease;
    background-color: #f8f0c6;
    color: #000000;
    font-weight: 200;
    font-size: 1.4em;
}

h1{
    font-weight: 400;
    font-size: 2.0em;
}

h2{
    font-weight: 400;
    font-size: 1.4em;
    margin-top: 5vh;
}

name{
    color: #000000;
    font-weight: 600;
}

.content2{
    font-size: 1.2em;
    position: relative;
  margin-left: 15vw;
 height: 100%;
 top: 50%;                        
   transform: translate(0, -50%)
}
.content{
   /*  text-align: justify;
   width: 580px;  
    margin: 0;*/
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%)
}
a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

.social{
    font-weight: 200;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

p{
    text-align: justify;
    font-size: 
}

@media only screen and (max-width: 750px) {
    body {
        background-color:#6dd8ff;
    }
    .content {
        margin-right: 20vw;
    }
}
@media (min-width: 750px) {
    .content {
        margin-right: 45vw;
    }
}
